.content-section {
  box-sizing: border-box;
  width: 1440px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

.header__links-list-item.header__links-list-item_no-bullit {
  list-style: none;
}

/* Расположение правее через flex */
.header__logo {
  position: relative;
  right: 74px;
  flex-shrink: 0;
  width: 136px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__link {
  color: #000;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/* Вариант с добавлением кружков не через list-style:circle */
/* .header__menu-circle{
  margin-left:13px;
  margin-right:12px;
  margin-top: 1px;
} */

.header__logo-image {
  width: 100%;
}

.header__information-row {
  display: block;
  width: 240px;
  color: #000;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.35;
}

.header__information-telephone,
.header__information-email {
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: 0px -15px;
  background-size: cover;
}

.cover__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 520px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.accent-span {
  width: 1340px;
}

.p__big-spacing {
  letter-spacing: 60px;
}

.p__no-spacing {
  letter-spacing: 0px;
}

.accent-span:first-child {
  margin-top: 165px;
  line-height: 1.15;
}

.accent-span:nth-child(2) {
  width: 1280px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
  margin-left: 422px;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
}

/* Выглядит так, что расстояние до последнего слова больше чем между другими */
.description__bigger-word-spacing {
  position: relative;
  left: 3px;
}

.bet-button {
  position: relative;
  left: -50px;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 50px 180px 50px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  z-index: 0;
  display: flex;
  width: 430px;
  height: 450px;
}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
}

.card_link {
  display: block;
  text-decoration: none;
}

.card.card__type-film {
  z-index: -1;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card.card__type-book {
  z-index: -1;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card.card__type-picture {
  z-index: -1;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title,
.card__text {
  z-index: 1;
  width: 100%;
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  border-bottom: 1px solid black;
  padding-top: 30px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  padding: 0px 50px 0px 50px;
}

.about__column:nth-of-type(1) {
  display: flex;
  justify-content: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  padding: 63px 46px;
}

.about__title {
  padding-top: 100px;
  padding-left: 25px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  padding-left: 25px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about__text:nth-of-type(1) {
  padding-top: 100px;
  padding-bottom: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-content: top;
  padding: 180px 50px 90px 50px;
}

.footer__information-row {
  display: block;
  width: 240px;
  color: #000;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.35;
}

.footer__information-telephone,
.footer__information-email {
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  list-style: none;
}

.footer__link {
  color: #000;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  width: 240px;
  list-style-type: none;
}